---
---

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

html,body {
    margin:0;
    padding:0;
}

html {
    background-color: rgb(47, 62, 70);
    color: #fff;
    font: 20px/1.625em Quicksand, sans-serif;
}

body {
    max-width: 800px;
    margin: 2rem auto;
}

a,:link {
    color: white;
}
a:visited {
    color: #eee;
    color: rgba(255,255,255,0.6);
}

a:focus, a:hover {
    color: #eee;
    color: rgba(255,255,255,0.6);
    background:rgba(255,255,255,0.025);
}

h1:first-of-type {
    font-weight:100;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 4rem;
}

div.highlighter-rouge {
    background: white;
    padding: 1rem;
    border: 10px solid rgba(0,0,0,0.05);
    border-width: 10px 0;
    color: darkblue;
}